*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url('../images/ban3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 .card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0, 0, 0,0.5);
    border-radius: 10px;
}