<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% load static %}
  <link rel="stylesheet" href="{% static 'cssfiles/createaccount.css' %}">
  <script src="{% static 'jsfiles/signup.js' %}"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Electronics</title>
</head>

<body>
  <div class="rcontainer">
    <h2>Regerter Now </h2>
    {% if messages %}
  {%for message in messages %}
  <script>
         alert('{{message}}');
  </script>
    <!-- <div class="alert alert-danger" role="alert">
      {{message}}
    </div> -->
  {% endfor %}
{% endif %}
    <form action="/signup" method="post" onsubmit="return myvalidfunction() "autocomplete="off">
      {% csrf_token %}
      <div class="myrow100">
        <div class="mycol">
          <div class="myinputbox">
            <input type="text" name="firstname" id="myid1" required>
            <span class="mytext">First Name</span>
            <span class="myline"></span>
          </div>
        </div>
        <div class="mycol">
          <div class="myinputbox">
            <input type="text" name="lastname" id="myid2" required>
            <span class="mytext">Last Nmae</span>
            <span class="myline"></span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="myrow100">
        <div class="mycol">
          <div class="myinputbox">
            <input type="text" name="username" id="myid3" required>
            <span class="mytext">Username</span>
            <span class="myline"></span>
          </div>
        </div>


        <div class="mycol">
          <div class="myinputbox">
            <input type="email" name="email" id="myid4" required>
            <span class="mytext">Email</span>
            <span class="myline"></span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="myrow100">
        <div class="mycol">
          <div class="myinputbox">
            <input type="password" name="password" id="myid5" required>
            <span class="mytext">Password</span>
            <span class="myline"></span>
          </div>
        </div>

        <div class="mycol">
          <div class="myinputbox">
            <input type="password" name="repassword" id="myid6" required>
            <span class="mytext">Repassword</span>
            <span class="myline"></span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="myrow100">
        <div class="mycol">
          <div class="myinputbox">
            <input type="number" name="phone" id="myid7" required>
            <span class="mytext">Mobileno</span>
            <span class="myline"></span>
          </div>
        </div>

        <div class="mycol">
          <div class="myinputbox">
            <input type="number" name="altnum" id="myid8">
            <span class="mytext">Alternate No</span>
            <span class="myline"></span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="myrow100">
        <div class="mycol">
          <div class="myinputbox mttextarea">
            <textarea name="address" id="myid9" cols="30" rows="10" required></textarea>
            <span class="mytext">Address</span>
            <span class="myline"></span>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="myrow100">
        <div class="mycol">
          <input type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>





  <!-- <form action="/signin" method="post">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username" id=""> <br>
      <input type="password" name="Password" placeholder="password" id=""> <br>
      <input type="submit" value="Submit">
    </form> -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>